
<body>
  <div>
    <input class="inputBar" placeholder="Type here to search todos." [(ngModel)]="searchArrayByString" (keyup)="searchArray()">

    <p *ngFor="let task of searchedArray; let i=index;">
      
      <button class="completeButton" *ngIf="!task.completed" (click)="completeTask(i)">Complete</button> 
      
      <s class="strikeThrough" *ngIf="task.completed; else notDone">
        Task: {{task.task}}
      </s>
      <ng-template #notDone>
        Task: {{task.task}}
      </ng-template>
  
      <button class="remove" (click)="removeTask(i)">X</button>
      
    </p>

    <p id="addTodoButton">
      <input class="inputBar" placeholder="Enter your new todo" name="task" type="text" [(ngModel)]="newTask.task">
      <br>
      <button class="addTodoButton" (click)="addTodo()">Add todo</button>
    </p>
  </div>
</body>